.navbar {
  height: 80px; /* Altura fixa importante para o cálculo depois */
  background-color: var(--surface);
  border-bottom: 1px solid var(--border-color);
  padding: 0 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo h1 {
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--text-main);
  letter-spacing: -1px;
}

.links {
  display: flex;
  gap: 8px;
  height: 100%; /* Para os links ocuparem a altura toda se quiser borda embaixo */
}

.link {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 20px;
  color: var(--text-light);
  font-weight: 600;
  font-size: 0.9rem;
  border-radius: 8px;
  height: 48px; /* Botão gordinho */
  margin-top: 16px; /* Centraliza verticalmente visualmente */
  transition: all 0.2s;
}

.link:hover {
  background-color: var(--surface-hover);
  color: var(--text-main);
}

.active {
  background-color: rgba(234, 29, 44, 0.1); /* Vermelho bem fraquinho */
  color: var(--primary-color);
}

.active:hover {
  background-color: rgba(234, 29, 44, 0.2);
}

.logoutBtn {
  background: transparent;
  border: none;
  color: var(--text-light);
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.9rem;
  transition: color 0.2s;
}

.logoutBtn:hover {
  color: #ef4444; /* Vermelho alerta no hover */
}