.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px; /* Altura padrão mobile */
  background-color: var(--surface);
  border-top: 1px solid var(--border-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 50;
  box-shadow: 0 -4px 20px rgba(0,0,0,0.05);
  padding-bottom: env(safe-area-inset-bottom); /* Respeita o "queixo" do iPhone */
}

.navItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  color: var(--text-light);
  font-size: 0.7rem;
  font-weight: 600;
  flex: 1;
  height: 100%;
  transition: all 0.2s;
}

.navItem span {
  font-size: 0.75rem;
}

.active {
  color: var(--primary-color);
}

.cartIconWrapper {
  position: relative;
}

.badge {
  position: absolute;
  top: -5px;
  right: -8px;
  background-color: var(--primary-color);
  color: white;
  font-size: 0.7rem;
  font-weight: 800;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--surface);
}